@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    font-family: Montserrat;

}
#interface{
    width: 40%;
    padding: 20px 10px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    margin: 20px auto;
    border-radius: 10px;
    color: black;
}
#interface button{
    display:  block;
    margin: 10px auto;
    border-radius: 10px;
    width: 30%;
    border: none;
    font-size: 15px;
    background-color: green;
    color: white;
    padding: 10px 20px;
}

#main{
display: none;
}
.main{
    width: 40%;
    margin: 40px auto;
border: 1px solid red;
border-radius: 20px; 
background-color: white;
font-family: Montserrat;
}
#show{
    text-align: center;
    margin: 10px 0;
}
.login{
    /* border: 1px solid ; */
    border-radius: 20px;
    padding: 10px ;
}
.login button{
    border-radius: 5px;
    padding: 5px auto;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: burlywood;
    color: black;
display: inline-block;
width: 70px;
float: right;
margin: 5px;
font-size: 12px;
font-family: Montserrat;
}

.labels{
    border: 1px solid ;
    display: block;
    padding: 10px;
    background-color: antiquewhite;
    margin: 8px;
    border-radius: 10px;
}
.labels:hover{
    background-color: beige;
}
#questiontext, .questiondiv{
    /* border: 1px solid; */
    padding: 12px;
    font-size: 30px;
    font-weight: bold;
}
.radios{
/* outline: 1px solid; */
margin-right: 7px;

}
#sortQuestion2{
    display: none;
}
#questionArea{
   display: flex;
   flex-direction: column;
align-content: center; 
}
.questiontag2{
    display: none;
}
#submission{
    display: flex;
    margin: 10px auto;
    padding: 10px 20px;
border-radius: 10px;
border: none;
background-color: green;
color: white;
font-family: Montserrat;
}
@media screen and (max-width:900px) {
    .main{
        width: 90%;
    }
    
}